<h2><%= user.email %>'s Profile</h2>

<h2>User's Projects</h2>
<% userProjects.forEach(element => { %>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">
            <a href="/projects/<%= element.id %>"> <%= element.name %></a>
        </h3>
    </div>
</div>
<% }) %>
